<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    #wrapper {
        flex: 1;
    }

    #footer {
        position: absolute;
        padding: 0px;
        bottom: 0;
        background-color: white;
        box-shadow: 0px -3px 10px -8px #333;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PERIZINAN</title>

    <!-- Custom fonts for this template -->
    <link href="http://perizinanpasar.test/vendor/fontawesome-free/css/all.min.css " rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" http://perizinanpasar.test/template/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="http://perizinanpasar.test/template/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="">
                    <img class="img-profile" src="http://perizinanpasar.test/template/img/atas.png" class="img-rounded"
                        width="50px">
                </div>
                <div class="sidebar-brand-text mx-3">DINKUKMP</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Welcome">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">

            </div>
            <!-- Nav Item - Dashboard -->

            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Pegawai">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Pegawai</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Pimpinan">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Kepala Dinas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Kpasar">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Kepala Pasar</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Pasar">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Pasar</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Tarif">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Tarif</span></a>
            </li>


            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages9"
                    aria-expanded="true" aria-controls="collapsePages9">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Kios/Los</span>
                </a>
                <div id="collapsePages9" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Permohonan Baru:</h6> -->
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Kios">Kios/Los</a>
                        <!-- <h6 class="collapse-header">Permohonan Perpanjang:</h6> -->
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Kios_takhuni">Kios/Los Tak
                            Huni</a>

                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Selasar">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Selasar</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Jenis">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Jenis Dagangan</span></a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">

            </div>
            <li class="nav-item">
                <a class="nav-link" href="http://perizinanpasar.test/Admin/Wp">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Data Wajib Retribusi</span></a>
            </li>
            <!--             <li class="nav-item">
                <a class="nav-link collapsed" href="http://perizinanpasar.test/Admin/Op">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Data Objek Retribusi</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://perizinanpasar.test/Admin/Objek">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Data Objek Retribusi</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://perizinanpasar.test/Admin/Riwayat">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Riwayat Objek Retribusi</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Form Pengajuan
            </div>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages5"
                    aria-expanded="true" aria-controls="collapsePages5">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Form Pengajuan</span>
                </a>
                <div id="collapsePages5" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Permohonan Baru:</h6> -->
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Persyaratan">Baru</a>
                        <!-- <h6 class="collapse-header">Permohonan Perpanjang:</h6> -->
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Persyaratan2">Perpanjang</a>

                    </div>
                </div>
            </li>
            </hr>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Pengajuan
            </div>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Permohonan</span>
                </a>
                <div id="collapsePages" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Permohonan Baru:</h6> -->
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Baru">Baru</a>
                        <!-- <h6 class="collapse-header">Permohonan Perpanjang:</h6> -->
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Pengajuan">Perpanjang</a>

                    </div>
                </div>
            </li>
            </hr>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Cetak Surat Izin
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cetak Surat Izin</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Cetak SIMK dan SIML:</h6>
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/Cetak2">Cetak Surat Izin</a>

                    </div>
                </div>
            </li>


            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Laporan
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1"
                    aria-expanded="true" aria-controls="collapsePages1">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Laporan</span>
                </a>
                <div id="collapsePages1" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Laporan:</h6>

                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/LaporanWP/laporansemua">Laporan
                            Wajib Retribusi</a>
                        <a class="collapse-item" href="http://perizinanpasar.test/Admin/LaporanOP/laporansemua">Laporan
                            Objek Retribusi</a>
                        <a class="collapse-item"
                            href="http://perizinanpasar.test/Admin/LaporanOpnonaktif/laporansemua">Lap Riwayat Objek
                            Retribusi</a>
                        <a class="collapse-item"
                            href="http://perizinanpasar.test/Admin/LaporanKios/laporansemua">Laporan Kios & Los</a>
                        <a class="collapse-item"
                            href="http://perizinanpasar.test/Admin/LaporanKiosTakhuni/laporansemua">Laporan Kios&Los
                            Takhuni</a>
                    </div>
                </div>
            </li>




        </ul>
        <!-- End of Sidebar --> <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">

                        <!-- Topbar -->


                        <!-- Sidebar Toggle (Topbar) -->
                        <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button> -->



                        <!-- Topbar Navbar -->


                        <!--Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-3 d-none d-lg-inline text-gray-600 medium"><b>Bella Setia</b></span>
                                <img class="img-profile rounded-circle"
                                    src="http://perizinanpasar.test/template/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <div class="dropdown-divider"></div>
                                <center><a class="dropdown-item"><b>
                                            DINKUKMP<br>
                                            Admin </b></a></center>
                                <hr>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>

                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
                            </div>
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="http://perizinanpasar.test/template/img/profile.jpg"
                                                class="img-fluid rounded-start">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Bella Setia</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div></br></br></br>
                                <div class="row ">
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Jumlah Permohonan Baru</div>

                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <h3 class="h5 mb-0 font-weight-bold text-gray-800">0</h3>
                                                        </div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Jumlah Permohonan Perpanjang</div>

                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <h3 class="h5 mb-0 font-weight-bold text-gray-800">0</h3>
                                                        </div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Jumlah Objek Pajak</div>

                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <h3 class="h5 mb-0 font-weight-bold text-gray-800">1</h3>
                                                        </div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Jumlah Wajib Pajak</div>

                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <h3 class="h5 mb-0 font-weight-bold text-gray-800">1</h3>
                                                        </div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Jumlah Kios</div>

                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <h6 class="font-weight-bold text-gray-800">Jumlah Kios =
                                                                5 </h6>
                                                            <h6 class="font-weight-bold text-gray-800">Jumlah Kios
                                                                Terpakai =
                                                                0 </h6>
                                                            <h6 class="font-weight-bold text-gray-800">Jumlah Kios
                                                                Kosong =
                                                                5 </h6>
                                                        </div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Jumlah Los</div>

                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <h6 class="font-weight-bold text-gray-800">Jumlah Los =
                                                                0 </h6>
                                                            <h6 class="font-weight-bold text-gray-800">Jumlah Los
                                                                Terpakai =
                                                                0 </h6>
                                                            <h6 class="font-weight-bold text-gray-800">Jumlah Los Kosong
                                                                =
                                                                0 </h6>
                                                        </div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- /.container-fluid -->
                            </div>
                            <!-- End of Main Content -->
                        </div>
                        <!-- End of Content Wrapper -->
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <footer id="footer" style="width:85%;">
                    <div class="container my-auto">
                        <div style="float: right; width: 1%; margin-top:2px;">
                            <img src="http://perizinanpasar.test/template/img/logopolsa.png" class="img-rounded"
                                width="60px">
                        </div>
                        <br>
                        <div style="font-size:17px; width: 94%; overflow: hidden; display: flex; align-items: center; justify-content: center; height: 100%;"
                            class="copyright">
                            <marquee behavior="scroll" direction="left" scrollamount="4">
                                Copyright &copy; Sistem Informasi Perizinan Menempati Kios dan Los Pasar Dinas Koperasi,
                                Usaha Kecil Menengah dan Perdagangan Kabupaten Purworejo | 2023

                            </marquee>
                        </div>
                        <br>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->


        <!-- Scroll to Top Button-->


        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">LOGOUT?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Apakah yakin ingin logout?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="http://perizinanpasar.test/Auth/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript-->
        <script src="http://perizinanpasar.test/vendor/jquery/jquery.min.js"></script>
        <script src=" http://perizinanpasar.test/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src=" http://perizinanpasar.test/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <!-- <script src=" http://perizinanpasar.test/template/ js/sb-admin-2.min.js"></script> -->

        <!-- Page level plugins -->
        <script src="http://perizinanpasar.test/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="http://perizinanpasar.test/vendor/datatables/dataTables.bootstrap4.min.js "></script>

        <!-- Page level custom scripts -->
        <script src="http://perizinanpasar.test/template/js/demo/datatables-demo.js"></script>
        <script src="http://perizinanpasar.test/template/ js/jquery-3.2.1.min.js "></script>

</body>

</html>